@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin-continuous {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.animate-spin-continuous {
  animation: spin-continuous linear infinite;
}

@keyframes pulse-scale {
  0%,
  100% {
    transform: scale(var(--min-scale));
  }
  50% {
    transform: scale(var(--max-scale));
  }
}

.animate-pulse-scale {
  animation: pulse-scale linear infinite;
}

/* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100, 116, 139, 0.5); /* slate-500 with opacity */
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(71, 85, 105, 0.7); /* slate-600 with opacity */
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100, 116, 139, 0.5);
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
   background-color: rgba(148, 163, 184, 0.7); /* slate-400 with opacity */
}
