@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin-continuous {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.animate-spin-continuous {
  animation: spin-continuous linear infinite;
}

@keyframes pulse-scale {
  0%,
  100% {
    transform: scale(var(--min-scale));
  }
  50% {
    transform: scale(var(--max-scale));
  }
}

.animate-pulse-scale {
  animation: pulse-scale linear infinite;
}